es-space-mgmt/main/default/flows/createReservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openReservationSubtab</name>
        <label>openReservationSubtab</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <actionName>c:openRecordAction</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReservationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobject</name>
            <value>
                <elementReference>ReservationAPIName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description
        >Invokes a generic apex method that updates Lead or Contact status fields as defined in the custom metadata</description>
        <name>Update_Lead_Contact_Reservation_Status</name>
        <label>Update Lead/Contact Reservation Status</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <actionName>ReservationManagerController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>openReservationSubtab</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>Contact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>Lead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReservationAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reservation__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>assignCustomerLookup</name>
        <label>assignCustomerLookup</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContactReservation</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLeadReservation</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <description>Create Reservation Flow with LWC.</description>
    <formulas>
        <name>calcEndDate</name>
        <dataType>Date</dataType>
        <expression>{!varStartDate}+{!varResLength}</expression>
    </formulas>
    <interviewLabel>createReservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createReservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContactReservation</name>
        <label>createContactReservation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference
            >Update_Lead_Contact_Reservation_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>varNoOfGuests</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordCreates>
        <name>createLeadReservation</name>
        <label>createLeadReservation</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference
            >Update_Lead_Contact_Reservation_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>varNoOfGuests</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>CustomerDetails</name>
        <label>CustomerDetails</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignCustomerLookup</targetReference>
        </connector>
        <fields>
            <name>reservationHelperForm</name>
            <extensionName>c:reservationHelperForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerid</name>
                <value>
                    <elementReference>varRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objecttype</name>
                <value>
                    <elementReference>varSobjectType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>varState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varMarket</assignToReference>
                <name>requestedMarket</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varNoOfGuests</assignToReference>
                <name>numberOfPeople</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varResLength</assignToReference>
                <name>endDays</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varStartDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CustomerDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varMarket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoOfGuests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSobjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds state value for customer record</description>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
