es-space-mgmt/main/default/flows/createReservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openReservationSubtab</name>
        <label>openReservationSubtab</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <actionName>c:openRecordAction</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReservationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobject</name>
            <value>
                <elementReference>ReservationAPIName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description
        >Invokes a generic apex method that updates Lead or Contact status fields as defined in the custom metadata</description>
        <name>updateLeadContactReservationStatus</name>
        <label>updateLeadContactReservationStatus</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <actionName>ReservationManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>openReservationSubtab</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Day1</name>
        <choiceText
        >&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;1 Day&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Day30</name>
        <choiceText
        >&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;30 Days&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Day60</name>
        <choiceText
        >&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;60 Days&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Day7</name>
        <choiceText
        >&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;7 Days&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>GreaterThan60</name>
        <choiceText
        >&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;More than 60 Days&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>61.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>Contact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>Lead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReservationAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reservation__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>assignCustomerLookup</name>
        <label>assignCustomerLookup</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContactReservation</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLeadReservation</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <description>Create Reservation Flow with LWC.</description>
    <dynamicChoiceSets>
        <description>Shows all the market records by state</description>
        <name>marketRecordsByState</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </filters>
        <object>Market__c</object>
        <outputAssignments>
            <assignToReference>varMarket</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>calcEndDate</name>
        <dataType>Date</dataType>
        <expression>{!reservationStartDate}+{!varResLength}</expression>
    </formulas>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>createReservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContactReservation</name>
        <label>createContactReservation</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference
            >updateLeadContactReservationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>reservationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>numberOfGuests.value</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordCreates>
        <name>createLeadReservation</name>
        <label>createLeadReservation</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference
            >updateLeadContactReservationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>reservationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>numberOfGuests.value</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>CustomerDetails</name>
        <label>Customer Details</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReservationDetails</targetReference>
        </connector>
        <fields>
            <name>reservationHelperForm</name>
            <extensionName>c:reservationHelperForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerid</name>
                <value>
                    <elementReference>varRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objecttype</name>
                <value>
                    <elementReference>varSobjectType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>varState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varMarket</assignToReference>
                <name>requestedMarket</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varNoOfGuests</assignToReference>
                <name>numberOfPeople</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varResLength</assignToReference>
                <name>endDays</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varStartDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Provide Reservation Details</description>
        <name>ReservationDetails</name>
        <label>Reservation Details</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignCustomerLookup</targetReference>
        </connector>
        <fields>
            <name>selectMarket</name>
            <choiceReferences>marketRecordsByState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where do they want the space?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>reservationStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>currentDate</elementReference>
            </defaultValue>
            <fieldText>When do they need the space?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>numberOfGuests</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>For how many people?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>250.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reservationDuration</name>
            <choiceReferences>Day1</choiceReferences>
            <choiceReferences>Day7</choiceReferences>
            <choiceReferences>Day30</choiceReferences>
            <choiceReferences>Day60</choiceReferences>
            <choiceReferences>GreaterThan60</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference
            >Day7</defaultSelectedChoiceReference>
            <fieldText>How long do they want the space?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CustomerDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varMarket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoOfGuests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSobjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds state value for customer record</description>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
