es-space-mgmt/main/default/flows/spaceDesigner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openReservationRecord</name>
        <label>openReservationRecord</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>c:openRecordAction</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReservId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobject</name>
            <value>
                <elementReference>constReservation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>constReservation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reservation__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>setFinishBehavior</name>
        <label>setFinishBehavior</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GoToRecordHome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varfinishOnRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>openReservationRecord</targetReference>
            </connector>
            <label>GoToRecordHome</label>
        </rules>
    </decisions>
    <description>Space Designer Flow with LWC.</description>
    <interviewLabel>spaceDesigner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Space Designer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateReservation</name>
        <label>updateReservation</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>setFinishBehavior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReservId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Proposal Ready</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>spaceDesigner</name>
        <label>spaceDesigner</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateReservation</targetReference>
        </connector>
        <fields>
            <name>spaceDesignForm</name>
            <extensionName>c:spaceDesignForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>market</name>
                <value>
                    <elementReference>varMarketId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varfinishOnRecord</assignToReference>
                <name>popTabOnFinish</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSpaceId</assignToReference>
                <name>selectedtile</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>spaceDesigner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varfinishOnRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMarketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReservId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
